<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/style.css">
        <title>We ♡ Gymnastics</title>
    </head>

    <body>
        <div class="container">
            <div class="center">
                <div class="secundary-text">{{today}}</div>
                <div class="wod-name bold-type" style="margin-top:4%">
                    {{wod.name}}
                </div>

                <div class="inline bold-type">{{wod.wod_type}}</div>
                <div class="inline bold-type">{{wod.time}}</div>

                <div class="container" style="margin:4% 0">
                    {% for name_day in days_name %}
                    <div class="inline-row secundary-text seven-cols{% if today_day == name_day %} select-day{% endif %}">{{name_day}}</div>
                    {% endfor %}

                    {% for num_day in current_week %}
                    <div class="inline-row bold-type seven-cols{% if today_number == num_day %} select-day{% endif %}">{{num_day}}</div>
                    {% endfor %}

                    {% for num_day in current_week %}
                    <div class="inline-row bold-type seven-cols select-day select-day-pointer">
                        {% if today_number == num_day %}
                            •
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>

                {% for exercise in wod.exercises %}
                    <ul class="bold-type">{{ exercise }}</ul>
                {% endfor %}
            </div>

            <footer class="footer">
                <hr>
                <p>We ♡ Gymnastics | © 2022 Teo Rojas.</p>
            </footer>
        </div>

    </body>
</html>